@mixin text($weight:400,$color:white) {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    color:$color;
  }
  
@mixin flex-center($direction:column){
    display:flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin text-align($align:center){
    text-align: $align;
}